<% if flash[:notice].present? %>
  <div id="flash-notice" style="border: 1px solid red; color: red; padding: 10px;">
  <%= flash[:notice] %>
  </div>
<% end %>
<h2> Hi <%= @username %> </h2>
<%= button_to('Logout', logout_path, {method: :delete}) %>  <br/>
<%= link_to('About', { controller: 'about', action: 'index' }) %> <br/>

<%# or we can link like below %>
<%= link_to('Manage Tasks', tasks_path) %> <br/>

<%= link_to('Categories', categories_path) %> <br/>

